body{
	font-family: cabin;
	background-image: url(images/cagebackground.jpg);
	background-size; cover;
	background-color: rgba(300, 300, 300, .8);
	background-blend-mode: color;
	margin: 0 auto;
	padding: 0;
}

body, a, a:hover { cursor:url(http://media.tumblr.com/255ebd97998b716b26e90f728da65f55/tumblr_inline_mpr5y14fge1r6qyth.png), auto
}

.modal{
	background-image: url(images/cagebackground.jpg);
	/*background-color: #EB7252;*/
}
.modal-content{
	background-image: url(images/cagebackground.jpg);
	background-color: rgba(300, 300, 300, .8);
	background-blend-mode: color;
	border-width: 2px;
	border-color: #6AFFBB;
}

#modal1text{
	text-align: center;
	font-family: cabin;
	font-color: #EB5D3E;
}

h3{
	text-align: center;
	font-family: cabin;
	font-color: #EB5D3E;

}

.video{
	margin-left: 90px;

}

button{
	text-align: center;
	margin-left: 250px;

}

#gamecontain{
	margin: 0 auto;
	width: 950px;
}

#title{
	font-size: 100px;
	font-color: #3CF2AC;
}

#buttons{
	font-size: 50px;
	color:#EB5D3E;
	text-align: center;
  	margin: 20px;
  	display: block;
}

#buttons .button:hover{
	background: #s;
}


#cards{
	margin: 10px 0 0;
	z-index: 1;
}

#cards div{
	background-image: url(images/spade_card.jpeg);
	z-index: 2;
	height: 210px;
	width: 180px;
	float: left;
	margin: 5px;
}

#cards div img{
	display: none;
	z-index: 3;
}






